<div id="footer">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="child m-1  mt-5" style="text-align: center;">
            <img class="" style="margin-top: 80px;" src="./assets/logo.png" alt="">
        </div>
        <div class="child m-2 mt-5">
            <div class="footer_title mt-5">
                ORGANISATION
            </div>
            <div class="footer_decrip mt-5">
                Govardhan Ecovillage
                Galtare, P.O. Hamrapur, Wada, Palghar – 421 303, India
            </div>
            <div class="footer_mail mt-5"
                style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                abcdefg10@gmail.com
            </div>
        </div>
        <div class="child m-3 mt-5">
            <div class="footer_title mt-5">
                OUR MISSION
            </div>
            <div class="footer_decrip mt-5">
                To make our cows happy and loved by providing the highest protection, care and natural living.
            </div>
        </div>
        <div class="child m-2 mt-5">
            <div class="footer_title mt-5">
                INFORMED
            </div>
            <div class="footer_decrip mt-5">
                Stay up-to-date and get our latest news by email.
            </div>
            <div class="input-group mt-5">
                <input type="text" class="form-control" placeholder="E-mail" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary mt-5" type="button">Send</button>
                </div>
            </div>
        </div>
        <div class="child m-2 mt-5">
            <div class="footer_title mt-5">
                WHAT TO HELP
            </div>
            <div class="footer_links column">
                <div class="m-5 links">👉 Donate</div>
                <div class="m-5 links">👉 Feed a Cow</div>
                <div class="m-5 links">👉 Adopt a Cow</div>
                <div class="m-5 links">👉 Visit a Cow</div>

            </div>
        </div>

    </div>
</div>