.row{
    margin: 0;
}
.container_1{
    width: 350px;
    height: 400px;
    margin: 10px;
    margin-top: 40px;
}
.center_title{
    font-size: 6rem;
    text-align: center;
}
.centers{
    margin: 0;
    margin-top: 50px;
    width: 100%;
    height: inherit;
}
@media(max-width:800px){
    .centers{
        height: inherit;
    }
}